:root {
    --background-color: #15171E;
    --color: #FFFFFF;
}




body {
    background-color: var(--background-color);
    color: var(--color);
    border: 0;
    box-sizing: border-box;
}

div {
    padding: 0%;
    margin: 0;
    border: 0;
}

main {
    margin-left: 10%;
}

input {
    border-radius: 5px;
    border-style: none;
    height: 40px;
    width: 300px;
    left: 0px;
    top: 38px;
    border-radius: 5px;
    padding: 10px, 10px, 10px, 20px;
}

#submitmessage {
    /* width: 20%; */
    height: 60px;
    width: 447px;
    left: 189px;
    top: 960px;
    border-radius: 10px;
    padding: 10px;
}

textarea {
    resize: none;
    height: 180px;
    width: 447px;
    left: 189px;
    top: 740px;
    border-radius: 10px;
}

#enquiries {
    position: absolute;
    right: 15%;
    top: 40%;
}

/* Footer styling goes here */

footer {
    padding: 0%;
    margin-top: 10%;
    border: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0%;
}

img {
    padding: 0%;
    margin: 0;
    border: 0;
    vertical-align: bottom;
    position: relative;
    bottom: 20px;
    left: -7px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.fa:hover {
    opacity: 0.7;
}


#dsyne {
    padding: 0%;
    margin-top: 0%;
    border: 0;
    position: relative;
}

#logotxt {
    padding: 0%;
    margin-top: 0%;
    border: 0;
    position: relative;
    top: -23%;
}

.socialicon {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -25%;
}